[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"
autoflake = "*"
isort = "*"
flake8 = "*"
freezegun = "*"

[scripts]
format = "bash -c \"autoflake --remove-all-unused-imports -i -r . && isort . && black .\""
